@model AtmManagement.Models.Customers

@{
    ViewBag.Title = "CustomerSection";
}

<h2>CustomerSection</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="Withdraw Money" onclick="location.href='@Url.Action("Withdraw","CustomerPanel",new { id = Model.AccountNo})'" /> |
    <input type="button" value="Transfer Money" onclick="location.href='@Url.Action("Transfer","CustomerPanel",new { id = Model.AccountNo})'" /> |
    <input type="button" value="LogOut" onclick="location.href='@Url.Action("SignIn","LoginPage")'" />
</p>
