@using AtmManagement.Models

@{
    ViewBag.Title = "AdminSection";
}

<h2>AdminSection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            AccountNo
        </th>
        <th>
            Name
        </th>
        <th>
            Balance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AccountNo
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Balance
            </td>
            <td>
                @Html.ActionLink("Add Balance", "AddMoney", new { id = item.AccountNo }) |
                @Html.ActionLink("View Details", "Details", new { id = item.AccountNo }) |
                @Html.ActionLink("Delete Customer", "Delete", new { id = item.AccountNo })
            </td>
        </tr>
    }

</table>

<input type="button" value="LogOut" onclick="location.href='@Url.Action("SignIn","LoginPage")'" />